/* Copyright 2015-2018 Parity Technologies (UK) Ltd.
 * This file is part of Parity.
 *
 * SPDX-License-Identifier: MIT */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-nav li {
  float: left;
  list-style: none;
  margin-right: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
